# vim: ft=sls
# yamllint disable rule:line-length
---
values:
  lookup:
    repos:
      # There are no onedir builds for armhf or arm64
      latest:
        name: >-
          deb [signed-by=/usr/share/keyrings/salt-archive-keyring.gpg arch=armhf]
          https://repo.saltproject.io/py3/debian/{{ grains.osmajorrelease }}/armhf/latest {{ grains.oscodename }} main
        key_url: https://repo.saltproject.io/py3/debian/{{ grains.osmajorrelease }}/armhf/latest/salt-archive-keyring.gpg
      major:
        name: >-
          deb [signed-by=/usr/share/keyrings/salt-archive-keyring.gpg arch=armhf]
          https://repo.saltproject.io/py3/debian/{{ grains.osmajorrelease }}/armhf/{major} {{ grains.oscodename }} main
        key_url: https://repo.saltproject.io/py3/debian/{{ grains.osmajorrelease }}/armhf/{major}/salt-archive-keyring.gpg
      minor:
        name: >-
          deb [signed-by=/usr/share/keyrings/salt-archive-keyring.gpg arch=armhf]
          https://repo.saltproject.io/py3/debian/{{ grains.osmajorrelease }}/armhf/minor/{major}.{minor} {{ grains.oscodename }} main
        key_url: https://repo.saltproject.io/py3/debian/{{ grains.osmajorrelease }}/armhf/minor/{major}.{minor}/salt-archive-keyring.gpg
...
