# vim: ft=sls
#
# Set values specific to:
#   salt['config.get']('os_family') == Debian.
#
# You just need to add the key:values for this `os_family` that differ
# from `defaults.yaml` + `<osarch>.yaml`.
#
# If you do not need to provide defaults via the `os_family` config,
# you can remove this file or provide at least an empty dict, e.g.
# values: {}
# yamllint disable rule:line-length
---
values:
  lookup:
    pkg_manager: apt
    bootstrap_repo_file: /etc/apt/sources.list.d/salt.list
    repos:
      # Since the migration to packages.broadcom.com, major and major.minor
      # repositories are not available. The same behavior has to be achieved
      # via pinning.
      official:
        humanname: SaltStack official onedir
        name: >-
          deb [signed-by=/usr/share/keyrings/salt-archive-keyring.gpg arch=amd64]
          https://packages.broadcom.com/artifactory/saltproject-deb stable main
        key_url: https://packages.broadcom.com/artifactory/api/security/keypair/SaltProjectKey/public
        file: /etc/apt/sources.list.d/saltstack_official.list
        aptkey: false
...
