# vim: ft=sls
#
# Set values specific to:
#   salt['config.get']('os_family') == RedHat.
#
# You just need to add the key:values for this `os_family` that differ
# from `defaults.yaml` + `<osarch>.yaml`.
#
# If you do not need to provide defaults via the `os_family` config,
# you can remove this file or provide at least an empty dict, e.g.
# values: {}
# yamllint disable rule:line-length
---
values:
  lookup:
    pkg_manager: yum
    bootstrap_repo_file: /etc/yum.repos.d/salt.repo
    repos:
      # Since the repository migration to packages.broadcom.com, the following need
      # to be rendered with a dynamic `exclude`.
      official:
        name: saltstack_official
        humanname: SaltStack official Release Channel
        baseurl: https://packages.broadcom.com/artifactory/saltproject-rpm/
        skip_if_unavailable: true
        priority: 10
        gpgcheck: 1
        gpgkey: https://packages.broadcom.com/artifactory/api/security/keypair/SaltProjectKey/public
        enabled_metadata: 1
    sys_deps:
      # Required for SELinux modules. Provides semanage/audit2allow.
      - policycoreutils-python-utils
      # Required for holding package versions in pkg.installed.
      - python3-dnf-plugin-versionlock
...
