# -*- coding: utf-8 -*-
# vim: ft=yaml
#
# This file is managed by Salt.
# Manual changes might be overwritten.
---
{%- for host, confs in salt_.ssh.roster | dictsort %}
{{- host }}:
{%-   for conf, val in confs | dictsort %}
  {{ conf }}: {{ val }}
{%-   endfor %}

{% endfor %}
